@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root{
  --blue: #373b69;
  --background: #22254b;

}

* {
  box-sizing: border-box;
}

main {
  display:flex;
  flex-wrap: wrap;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #22254b;
  font-family: inherit;
  font-size: 1rem;
  color: white
}

.search::placeholder {
  color: #7378c5;
}

.search::focus {
  background-color: #22254b;
  outline: none;
}

.movie {
  width: 300px; 
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--blue);
  margin: 1.5rem;
  overflow: hidden;

}

.movie-img {
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  color: #eee;
  letter-spacing: 0.5px;
}


.movie-info h3 {
  margin: 0;
}

.movie-info span {
  padding: 0.25rem 0.5rem;
  background-color: var(--background);
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color:green
}

.movie-info span.orange {
  color:orange
}

.movie-info span.red {
  color: red;
}
