@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root{
  --blue: #373b69;
  --background: #22254b;

}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.movie {
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--blue);
  margin: 2rem;

}

.movie-img {
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem
  color: #eee;
  letter-spacing: 1px;
}


.movie-info h3 {
  margin: 0;
}

.movie-info span {
  padding: 0.25rem 0.5rem;
  background-color: var(--background);
  border-radius: 3px;
}
